{% extends "base.html" %}

{% block page_content %}
<div class="background" id="background-info">
	<img id="background-img-county" src="/static/central_wisconsin_streams.JPG" alt="info_background">
    <h3>ADD A COUNTY AND ALL OF ITS STREAMS ON THIS PAGE</h3>
    <div class="add">
        <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
              <p><input type=file name=file><br>
                 <input type=submit value=Upload>
        </form>
    </div>
</div>
{% endblock %}
