
{% extends "base.html" %}
{% block page_content %}

<div class="parallax">
	<div class="parallax-curtain">
	<h3>The database currently contains {{count}} streams.</h3>
	<table class="table-striped table-bordered">
		<thead>
			<td>ID</td>
			<td>Name</td>
			<td>Start Mile</td>
			<td>End Mile</td>
			<td>Class</td>
			<td>County</td>
		</thead>
	{% for row in rows %}
		<tr class="clickable-row" data-href="{{ url_for('advanced_search_home', name=row['NAME'], creek_id=row['ID']) }}">
			<td>{{ row["ID"] }}</td>
			<td>{{ row["NAME"] }}</td>
			<td>{{ row["START_MILE"] }}</td>
			<td>{{ row["END_MILE"] }}</td>
			<td>{{ row["CLASS"] }}</td>
			<td>{{ row["COUNTY"] }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
</div>
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}

